@import "tailwindcss";

:root {
  --background: #0D101C;
  --foreground: #fff;

  --color-card: #16192B;
  --color-button: #453170;
  --color-dark-white: #878BA0;
  --color-border: rgba(135, 139, 160, 0.2);
  --color-shadow: rgba(45, 50, 118, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D101C;
    --foreground: #fff;

    --color-card: #16192B;
    --color-button: #453170;
  --color-dark-white: #878BA0;
    --color-border: rgba(135, 139, 160, 0.2);
    --color-shadow: rgba(45, 50, 118, 0.2);
  }
}

@layer utilities {
  .bg-background {
    background-color: var(--background);
  }

  .bg-card {
    background-color: var(--color-card);
  }

  .bg-button {
    background-color: var(--color-button);
  }

  .text-foreground {
    color: var(--foreground);
  }
  .text-dark-white {
    color: var(--color-dark-white)
  }

  .custom-border {
    border-color: var(--color-border);
  }

  .custom-shadow {
    box-shadow: 0 4px 6px var(--color-shadow);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
